body {
  min-height: 100%;  
  background: #eee;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.notbold{
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.date {
  float: right;
  font-size: 9;
}

.date.notbold {
  font-size: 9;
}

.title {
  text-align: center;
}
